@import "styles/constants";

.pop{
  width: 60%;
  height: 80vh;
  position: fixed;
  top: 10vh;
  left: 20%;
  z-index: 100!important;
  background-size: cover;
  background-position: center;
  .abs{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    color: $main-color;
    font-weight: 900;
    display: flex;
    align-items: center;
    background-color: $black-one;
    border-radius: 50%;
    padding: 8px;
  }
  .popIn{
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}
.vid{
  width: 60%;
  height: 80vh;
  position: fixed;
  top: 10vh;
  left: 20%;
  z-index: 100!important;
  background-size: cover;
  background-position: center;
  background-color: black;
  .abs1{
    position: absolute;
    right: 25px;
    top: 3px;
    font-size: 28px;
    cursor: pointer;
    color: red;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
}