
.pop{
  width: 60%;
  height: 80vh;
  position: fixed;
  top: 10vh;
  left: 20%;
  z-index: 100!important;
  background-size: cover;
  background-position: center;
  background-color: black;
  .abs{
    position: absolute;
    right: 25px;
    top: 3px;
    font-size: 28px;
    cursor: pointer;
    color: red;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
  .popIn{
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 5vh;
    //margin-left: 2.5%;
  }
}
.vid{
  width: 60%;
  height: 80vh;
  position: fixed;
  top: 10vh;
  left: 20%;
  z-index: 100!important;
  background-size: cover;
  background-position: center;
  background-color: black;
  .abs1{
    position: absolute;
    right: 25px;
    top: 3px;
    font-size: 28px;
    cursor: pointer;
    color: red;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
}