@import "styles/constants";
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
.container{
  width: 100%;
  background-color: $black-one;
  color: white;
  display: flex;
  align-items: center;
  height: 80px;
  position: fixed;
  z-index: 100;
  top: 0;
  .then{
    display: flex;
    .img {
      height: 80px;
      width: 70px;
    }
    .img1 {
      height: 70px;
      width: 200px;
      margin-top: 5px;
      margin-left: 5%;
    }
    .title{
      height: 80px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      color: white;
      font-family: $title-font;
      font-size: 20px;
      margin-left: 15px;
    }
  }
  .sidebarToggle{
    float: right;
    background-color: transparent;
    position: absolute;
    right: 30px;
    height: 80px;
    align-items: center;
    display: none;
    .sidebarIcon{
      font-size: 32px;
      color: white;
    }
  }
  .link{
    float: right;
    display: flex;
    background-color: transparent;
    position: absolute;
    right: 30px!important;
    height:80px;
    align-items: center;
    .menuAnd{
      padding: 17px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $Montserrat-font;
      font-size: 14px;
      &.another{
        background-color: $main-color;
        color: $black-one!important;
      }
      //&:first-child{
      //  background-color: $main-color;
      //  color: black;
      //}
      &:hover{
        cursor: pointer;
        background-color: $main-color;
        color: $black-one;
      }
      &:last-child{
        color: white!important;
      }
      &:last-child:hover{
        background: transparent;
        color: $greenColor!important;
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .container {
    .then{
      .img1{
        width: 150px;
      }
    }
      .link {
        .menu {
          padding: 18px;
        }
    }
  }
}
@media (max-width: 1100px) {
  .container {
    .link {
      display: none;
    }
    .sidebarToggle{
      display: flex;
    }
  }
}


