@import "styles/constants";

.container {
  width: 100%;

  .abs {
    width: 90%;
    height: 300px;
    margin: auto;
    position: fixed;
  }

  .img {
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
  }

  .title {
    font-family: $Montserrat-font;
    font-size: 36px;
    color: black;
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
    margin-bottom: 50px;
  }

  .wr {
    display: flex;
    margin: 0 auto;
    max-width: 1300px;
    flex-wrap: wrap;
    width: 100%;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    //margin-left: -20px;
    .col {
      width: 240px;
      height: 200px;
      background-size: cover;
      background-position: center;
      margin-left: 0px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      cursor: pointer;
      transition: none!important;
      position: relative;
      background-color: rgba(0,0,0,0.6);
      z-index: 10;
      .imgIt{
        width: 240px;
        height: 200px;
        object-fit: cover;
        z-index: -1!important;
      }

      .col1 {
        margin-left: 0;
      }

      .hoverIt {
        width: 100%;
        height: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        transition: none;
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #01165F99;
        .imgWr{
          position: absolute;
          bottom: 10px;
          right: 10px;
          .icImg{
            color: #ffdd00;
            font-size: 28px;
          }
        }
        .circ {
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: #ffdd00;
          display: flex;

          .icon {
            font-size: 18px;
          }
        }
      }
      &:hover .hoverIt{
        display: flex;
      }
    }
  }
}

.car {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  height: 700px;

  .inThen {
    width: 100%;
    display: flex;
    height: 500px;

    .player {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 500px;
    }

    .player1 {
      width: 80%;
      margin-left: 10%;
      height: 500px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
    }
  }
}

@media (max-width: 860px) {
  .car {
    .inthen {
      width: 90%;
      margin-left: 5%;
    }
  }
}
@media (max-width: 500px) {
  .container{
    .img{
      height: 250px;
    }
    .re{
      height: 250px;
    }
  }
}