@import "styles/constants";
.container{
  width: 100%;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
  .title{
    font-family: $Montserrat-font;
    font-size: 36px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  .img{
    margin-left: 25%;
    background-color: #1CA1F2;
    background-size: cover;
    background-position: center;
    height: 70vh;
    width: 50%;
  }
}
@media (max-width: 1250px) {
  .container{
    .img{
      height: 65vh;
      width: 60%;
      margin-left: 20%;
    }
  }
}
@media (max-width: 1000px) {
  .container{
    .img{
      height: 60vh;
      width: 70%;
      margin-left: 15%;
    }
  }
}
@media (max-width: 800px) {
  .container{
    .img{
      height: 55vh;
      width: 80%;
      margin-left: 10%;
    }
  }
}
@media (max-width: 600px) {
  .container{
    .img{
      height: 50vh;
      width: 90%;
      margin-left: 5%;
    }
  }
}
@media (max-width: 500px) {
  .container{
    .img{
      height: 45vh;
      width: 95%;
      margin-left: 2.5%;
    }
  }
}