@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,500;0,600;0,700;1,600&display=swap');
$main-color:rgb(237,237,0);
$black-one:rgb(1,22,95);
$black-two:rgb(1,22,95);
$col239:rgb(239,239,239);
$dark-yellow:rgb(239,183,1);
$Montserrat-font:'Georama', sans-serif;
$Lato-font:'Georama', sans-serif;
$Oswald-font:'Georama', sans-serif;
$title-font:'Georama', sans-serif;
$greenColor:#03E603
