.input {
  font-size: 1em;
  height: 120px;
  margin-top: -10px;
  background: #334960;
  padding-right: 35px;
  color: #FFF;
  text-decoration: none;
  line-height: 125px;
  display: inline-block;
  cursor: pointer;
  &:after {
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 #ffffff;
    content: "";
    display: block;
    height: 2px;
    width: 0;
  }
  &:hover:after {
    width: 100%;
  }
}